Repository opensumi/codeblitz, pull requests merged in 2024-11, with the labels that each got.

#212 feat: upgrade opensumi to 3.5.0
  package.json
  packages/cli/package.json
  packages/code-api/src/common/service.ts
  packages/core/package.json
  packages/sumi-core/package.json
  packages/sumi-core/resources/worker-host.js
  packages/toolkit/define.json
  yarn.lock
Labels: 🎨 feature

#214 build: package react to the bundle file
  packages/core/package.json
  packages/core/src/api/require.ts
  packages/toolkit/webpack/config.build.js
  packages/toolkit/webpack/util/index.js
  yarn.lock
Labels: 🐞 bug, 💄 style change

#216 fix: update diff-viewer startup
  packages/startup/src/diff-viewer/index.tsx
Labels: 🐞 bug

#222 bundle: package react to the global bundle
  packages/toolkit/webpack/config.build.js
  packages/toolkit/webpack/util/index.js
Labels: 🐞 bug

#224 fix: atomgit auth link missing '/'
  packages/code-api/src/atomgit/atomgit.service.ts
Labels: 🐞 bug

#232 fix: disable delete/rename/cut file for webscm
  packages/sumi-core/src/client/custom/file-tree.ts
Labels: 🐞 bug

#237 fix: use DOM ID to hide editor tab
  packages/core/src/core/style.module.less
Labels: 🐞 bug

#236 fix: ServerConfig cannot be found when the component is unmounted
  packages/sumi-core/src/server/logs-core/log-manager.ts
Labels: 🐞 bug
