Repository opensumi/codeblitz, pull requests merged in 2024-05, with the labels that each got.

#53 refactor: update codeblitz module
  package.json
  packages/cli/package.json
  packages/cli/src/extension.ts
  packages/core/extensions/codeblitz.css-language-features-worker.js
  packages/core/extensions/codeblitz.gitlens.js
  packages/core/extensions/codeblitz.html-language-features-worker.js
  packages/core/extensions/codeblitz.json-language-features-worker.js
  packages/core/extensions/codeblitz.markdown-language-features-worker.js
  packages/core/extensions/codeblitz.odc-theme.d.ts
  packages/core/extensions/codeblitz.odc-theme.js
  packages/core/extensions/codeblitz.typescript-language-features-worker.js
  packages/core/package.json
  packages/core/src/api/renderApp.tsx
  packages/core/src/api/renderEditor.tsx
  packages/core/src/core/codeblitz.module.ts
  packages/core/src/core/commands.ts
  packages/core/src/core/editor/editor.module.ts
  packages/core/src/core/editor/modules.ts
  packages/core/src/core/env.ts
  packages/core/src/core/modules.ts
  packages/core/src/core/utils.ts
  packages/plugin/src/plugin.service.ts
  packages/startup/package.json
  packages/startup/src/common/plugin.ts
  packages/startup/src/editor/index.tsx
  packages/startup/src/editor/plugin.ts
  packages/startup/src/filesystem/index.tsx
  packages/startup/src/startup/index.tsx
  packages/sumi-core/package.json
  packages/sumi-core/src/client/index.ts
  packages/sumi-core/src/client/override/vscodeContributesService.ts
  packages/sumi-core/src/common/enum.ts
  packages/sumi-core/src/server/core/fs-launch.contribution.ts
  packages/toolkit/define.json
  packages/toolkit/fixtures/worker-example/package.json
  packages/toolkit/fixtures/worker-example/worker.js
  packages/toolkit/package.json
  packages/toolkit/playground/main.tsx
  packages/toolkit/webpack/config.build.js
  packages/toolkit/webpack/config.integration.js
  packages/toolkit/webpack/config.languages.js
  yarn.lock
Labels: ⚙️ refactor

#76 fix: export IEditorDocumentModelService to the umd bundle
  packages/core/src/api/exports.ts
Labels: 🐞 bug

#77 fix: should not export from codeblitz modules
  packages/core/src/api/exports.ts
Labels: 🐞 bug

#79 feat: upgrade to opensumi v3
  .gitignore
  package.json
  packages/cli/package.json
  packages/code-service/src/line-decoration.contribution.ts
  packages/code-service/src/static-resource.contribution.ts
  packages/core/package.json
  packages/core/src/api/createApp.tsx
  packages/core/src/api/renderApp.tsx
  packages/core/src/api/renderEditor.tsx
  packages/core/src/api/require.ts
  packages/core/src/core/Root.tsx
  packages/core/src/core/editor/editor.module.ts
  packages/core/src/core/extension/extension.patch.ts
  packages/core/src/core/modules.ts
  packages/core/src/core/utils.ts
  packages/core/src/modules/opensumi__ide-static-resource.ts
  packages/startup/package.json
  packages/startup/src/common/local-extension.module.ts
  packages/sumi-core/package.json
  packages/sumi-core/src/client/custom/file-tree.ts
  packages/sumi-core/src/client/extension-manager/extension-manager.service.ts
  packages/sumi-core/src/client/extension/extension.contribution.ts
  packages/sumi-core/src/client/index.ts
  packages/sumi-core/src/client/override/monacoOverride/textModelService.ts
  packages/sumi-core/src/client/override/monacoOverride/workspaceEditService.ts
  packages/sumi-core/src/client/override/webConnectionHelper.ts
  packages/sumi-core/src/connection/index.ts
  packages/sumi-core/src/server/core/app.ts
  packages/sumi-core/src/server/core/common.module.ts
  packages/sumi-core/src/server/file-service/disk-file-system.provider.ts
  packages/sumi-core/src/server/file-service/file-service.ts
  packages/sumi-core/src/server/file-service/index.ts
  packages/sumi-core/src/server/logs-core/log.service.ts
  packages/sumi-core/src/server/node/bfs/index.ts
  packages/sumi-core/src/server/opensumi-extension/extension.service.client.ts
  packages/toolkit/define.json
  packages/toolkit/package.json
  packages/toolkit/webpack/config.dev.js
  packages/toolkit/webpack/config.integration.js
  scripts/build-assets.js
  scripts/upgrade-opensumi.js
  scripts/utils/upload.js
  yarn.lock
Labels: 🎨 feature
