Repository opensumi/codeblitz, pull requests merged in 2024-08, with the labels that each got.

#115 fix: dispose plugin service will cause crash
  packages/core/src/api/createApp.tsx
  packages/core/src/api/createEditor.tsx
  packages/plugin/src/plugin.contribution.ts
  packages/plugin/src/plugin.service.ts
  packages/sumi-core/src/client/override/monacoOverride/contextKeyService.ts
  packages/sumi-core/src/common/util.ts
  packages/sumi-core/src/server/core/app.ts
Labels: 🐞 bug

#116 feat: optimize diff previewer
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/src/api/renderDiffViewer.tsx
  packages/core/src/core/diff-viewer/common.ts
  packages/core/src/core/diff-viewer/extension-patch.ts
  packages/core/src/core/diff-viewer/internal/base.ts
  packages/core/src/core/diff-viewer/internal/component.provider.ts
  packages/core/src/core/diff-viewer/internal/theme.provider.ts
  packages/core/src/core/diff-viewer/languages-patch.ts
  packages/core/src/core/diff-viewer/module.ts
  packages/core/src/core/theme.ts
  packages/startup/src/diff-viewer/index.tsx
  packages/sumi-core/package.json
  packages/toolkit/define.json
  yarn.lock
Labels: 🎨 feature

#123 fix: hide bottom tab panel if no container
  packages/core/src/core/diff-viewer/internal/base.ts
  packages/core/src/core/layout.tsx
  packages/startup/src/filesystem/index.tsx
Labels: 🐞 bug

#122 feat: support configure inline diff style
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/src/api/opts.ts
  packages/core/src/api/renderDiffViewer.tsx
  packages/core/src/modules/opensumi__common-di.ts
  packages/core/src/modules/opensumi__di.ts
  packages/startup/src/diff-viewer/index.tsx
  packages/startup/src/index.css
  packages/sumi-core/package.json
  packages/sumi-core/src/client/index.ts
  packages/toolkit/define.json
  scripts/utils/generate-alias.js
  yarn.lock
Labels: 🎨 feature, 💄 style change

#126 fix: compatible with mobx v6
  packages/code-api/src/github/github.service.ts
  packages/sumi-core/src/client/extension-manager/extension-manager.service.ts
Labels: 🐞 bug

#127 fix: extension list do not show
  packages/startup/src/startup/startup.module.ts
  packages/sumi-core/src/client/extension-manager/extension-manager.contribution.ts
Labels: 🐞 bug

#128 fix: code service support configure fs
  packages/code-service/src/code-service.contribution.ts
  packages/startup/src/startup/index.tsx
  packages/sumi-core/src/server/core/app.ts
  packages/sumi-core/src/server/core/fs-launch.contribution.ts
  packages/sumi-core/src/server/node/bfs/index.ts
Labels: 🐞 bug

#129 fix: update RuntimeConfig.workspace.filesystem to non-required
  packages/sumi-core/src/common/types.ts
Labels: 🐞 bug

#132 fix: fix editor tabbar style
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/src/api/normalize.less
  packages/core/src/api/renderDiffViewer.tsx
  packages/core/src/core/diff-viewer/common.ts
  packages/core/src/core/diff-viewer/internal/base.ts
  packages/core/src/core/diff-viewer/internal/theme.provider.ts
  packages/core/src/core/diff-viewer/module.ts
  packages/startup/src/diff-viewer/index.tsx
  packages/startup/src/startup/startup.module.ts
  packages/sumi-core/package.json
  packages/toolkit/define.json
  yarn.lock
Labels: 🐞 bug, 💄 style change

#133 feat: open diff previewer by stream
  packages/core/src/core/diff-viewer/common.ts
  packages/core/src/core/diff-viewer/internal/base.ts
  packages/startup/package.json
  packages/startup/src/diff-viewer/index.tsx
  yarn.lock
Labels: 🎨 feature

#135 fix: check design theme type
  packages/core/src/core/style.module.less
  packages/sumi-core/src/common/theme.ts
Labels: 🐞 bug

#136 feat: add code component example
  package.json
  packages/common/src/request/index.ts
  packages/core/src/api/createApp.tsx
  packages/core/src/api/opts.ts
  packages/core/src/api/renderApp.tsx
  packages/core/src/api/renderDiffViewer.tsx
  packages/core/src/core/Root.tsx
  packages/core/src/core/diff-viewer/common.ts
  packages/core/src/core/diff-viewer/internal/base.ts
  packages/core/src/core/diff-viewer/internal/component.provider.ts
  packages/core/src/core/diff-viewer/module.ts
  packages/core/src/core/internal/codeblitz.module.ts
  packages/core/src/core/modules.ts
  packages/core/src/core/types.ts
  packages/startup/package.json
  packages/startup/src/code/code.module.less
  packages/startup/src/code/component.tsx
  packages/startup/src/code/index.tsx
  packages/startup/src/code/startup.module.ts
  packages/startup/src/editor/index.tsx
  packages/sumi-core/src/client/index.ts
  packages/sumi-core/src/common/types.ts
  packages/sumi-core/src/common/util.ts
  packages/toolkit/playground/main.tsx
  yarn.lock
Labels: 🎨 feature, 💄 style change

#139 fix: remove action menus
  packages/core/src/core/diff-viewer/internal/base.ts
  packages/startup/src/diff-viewer/index.tsx
Labels: 🐞 bug

#144 feat: update opensumi
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/sumi-core/package.json
  packages/toolkit/define.json
  yarn.lock
Labels: 🎨 feature

#145 feat(diff-viewer): get current tab add diff info
  packages/core/src/core/diff-viewer/internal/base.ts
Labels: 🎨 feature

#147 feat(diff-previewer): support data prop
  packages/core/src/api/renderDiffViewer.tsx
  packages/core/src/core/diff-viewer/common.ts
  packages/core/src/core/diff-viewer/internal/base.ts
  packages/startup/src/diff-viewer/index.tsx
Labels: 🎨 feature

#146 feat: update opensumi
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/sumi-core/package.json
  packages/toolkit/define.json
  yarn.lock
Labels: 🎨 feature

#148 fix: re-fire tab change event
  packages/cli/package.json
  packages/core/src/core/diff-viewer/internal/base.ts
  packages/sumi-core/package.json
  yarn.lock
Labels: 🐞 bug
