Repository opensumi/codeblitz, pull requests merged in 2024-09, with the labels that each got.

#151 fix: remove useless css rule
  packages/core/src/api/normalize.less
Labels: 🐞 bug

#152 feat: support get entry info
  packages/code-api/src/atomgit/atomgit.service.ts
  packages/code-api/src/codeup/codeup.service.ts
  packages/code-api/src/common/types.ts
  packages/code-api/src/gitee/gitee.service.ts
  packages/code-api/src/github/github.service.ts
  packages/code-api/src/gitlab/gitlab.service.ts
  packages/code-api/src/gitlink/gitlink.service.ts
  packages/code-service/src/commands.contribution.ts
  packages/code-service/src/commands.ts
  packages/startup/src/code/startup.module.ts
  packages/startup/src/startup/index.tsx
  packages/startup/src/startup/startup.module.ts
  packages/startup/src/startup/web-scm.plugin.ts
Labels: 🎨 feature

#160 fix: initialize root fs once
  packages/sumi-core/src/server/core/filesystem.ts
Labels: 🐞 bug

#161 fix: tab change event
  packages/core/src/core/diff-viewer/internal/base.ts
Labels: 🐞 bug, 🎨 feature

#162 feat: support provider with multi editor
  package.json
  packages/core/src/api/exports.ts
  packages/core/src/api/renderApp.tsx
  packages/core/src/core/components/CodeEditor.tsx
  packages/core/src/core/components/context.ts
  packages/core/src/core/types.ts
  packages/startup/src/provider/index.css
  packages/startup/src/provider/index.tsx
Labels: 🎨 feature

#163 feat: upgrade opensumi
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/src/api/renderDiffViewer.tsx
  packages/core/src/core/diff-viewer/common.ts
  packages/core/src/core/diff-viewer/internal/theme.provider.ts
  packages/core/src/core/editor/editor.module.ts
  packages/core/src/core/providers/default-theme.provider.ts
  packages/core/src/core/providers/index.ts
  packages/startup/src/code/code.tsx
  packages/startup/src/code/index.tsx
  packages/startup/src/common/constants.ts
  packages/startup/src/diff-viewer/index.tsx
  packages/sumi-core/package.json
  packages/toolkit/define.json
  yarn.lock
Labels: 🎨 feature

#166 fix: diff info is not correct
  packages/core/src/core/diff-viewer/internal/base.ts
Labels: 🐞 bug

#167 feat: support diff editor
  packages/core/src/api/exports.ts
  packages/core/src/api/renderApp.tsx
  packages/core/src/core/components/CodeEditor.tsx
  packages/core/src/core/components/DiffEditor.tsx
  packages/core/src/core/components/context.ts
  packages/core/src/core/components/util.ts
  packages/core/src/core/hooks.ts
  packages/core/src/core/types.ts
  packages/startup/src/provider/index.tsx
  packages/startup/src/provider/module.ts
Labels: 🎨 feature

#172 feat: update opensumi 3.3.2
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/sumi-core/package.json
  packages/toolkit/define.json
  yarn.lock
Labels: 🎨 feature

#175 fix: mounting home fs multiple times will throw error
  packages/common/src/index.ts
  packages/common/src/mutex.ts
  packages/sumi-core/src/server/core/filesystem.ts
Labels: 🐞 bug

#176 fix(diff-viewer): snapshot is not correct
  packages/core/src/core/diff-viewer/internal/base.ts
Labels: 🐞 bug

#177 fix: cannot open diff viewer
  packages/core/src/core/diff-viewer/internal/base.ts
Labels: 🐞 bug

#184 fix: use path instead of fsPath
  packages/core/src/core/diff-viewer/internal/base.ts
  packages/sumi-core/src/server/file-service/encoding.ts
  packages/sumi-core/src/server/file-service/file-service-watcher.ts
Labels: 🐞 bug

#189 fix: editor renderer not work
  packages/core/src/api/createEditor.tsx
  packages/core/src/core/editor/modules.ts
  packages/sumi-core/src/server/core/app.ts
  packages/sumi-core/src/server/index.ts
  packages/sumi-core/src/server/search/base.ts
Labels: 🐞 bug

#191 feat: support render image
  packages/core/src/core/editor/contributions/static-resource.contribution.ts
  packages/core/src/core/editor/editor.module.ts
  packages/core/src/core/editor/types.ts
  packages/core/src/core/utils.ts
  packages/startup/src/editor/index.tsx
  packages/sumi-core/src/common/types.ts
Labels: 🎨 feature
